In [6]:
import requests
import csv
import pandas as pd
from bs4 import BeautifulSoup
import json

In [7]:
base_url = "https://www.nlcbplaywhelotto.com/nlcb-lotto-plus-results/"
query = "?monthyear="

In [8]:
months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
years = ["10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23"]

def get_lotto_results(month, day, year):
    data = {'day': day, 'month': month, 'year': year}
    response = requests.get(base_url, "")
    soup = BeautifulSoup(response.text, "html.parser")
    return soup

In [16]:
def extract_strip_text(element):
    return element.text.strip()

for month in months:
    for year in years:
        url = (f"{base_url}{query}{month}-{year}")
        response = requests.get(url)
        soup = BeautifulSoup(response.content, "html.parser")
        results = soup.find("table", id="monthResults")
        arr = []
        if results is not None:
            rows = results.find_all("tr")[1:]
            for row in rows:
                columns = row.find_all("td")
                arr = {"Draw#": extract_strip_text(columns[0]),
                       "Numbers": extract_strip_text(columns[1]),
                       "PowerBall": extract_strip_text(columns[2]),
                       "Multiplier": extract_strip_text(columns[3]),
                       "Jackpot": extract_strip_text(columns[4]),
                       "Wins",
                       "Date": }

TypeError: 'NoneType' object is not iterable

In [21]:
def strip_text(text):
    return text.strip()

arr = []
for month in months:
    for year in years:
        url = (f"{base_url}{query}{month}-{year}")
        response = requests.get(url)
        soup = BeautifulSoup(response.content, "html.parser")

IndexError: list index out of range

In [ ]:
df = pd.DataFrame(all_data, columns=['Draw#', 'Numbers', 'Power Ball', 'Multiplier', 'Jackpot', 'Wins', 'Draw Date'])
df

Empty DataFrame
Columns: [Draw#, Numbers, Power Ball, Multiplier, Jackpot, Wins, Draw Date]
Index: []